*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    
}

/* html{
    height: 100%;
} */

.body{
    /* height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: #C6426E;

    background: -webkit-linear-gradient(45deg, #C6426E, #642B73);

    background: linear-gradient(45deg, #C6426E, #642B73) fixed;
}

/**NAVBAR STARTS**/
.logo{
    padding: 0px 0px 0px 50px;
    height: 85px;
    width: 170px;
}
.login{
    padding: 0px 50px 0px 0px;
}
.loginButton{
    padding: 9px 15px;
    font-size: 1em;
    font-weight: 900;
    background-color: #C6426E;
    color: #fefdfd;
    border: black;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}
.loginButton:hover{
    background-color: #a33157;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #666666; /* fallback for old browsers */
    /* border-bottom: 2px solid black; */

    /* background-color: #666666; */
    /* padding: 30px 10%; */
}

li, a, button {
    text-decoration: none;
    
}

.nav_links{
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 90px;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    color: #fefdfd;
    font-family: 'Playfair Display', serif;
    /* font-style: italic; */
    font-size: 1.25em;
    font-weight: bold;
}

.nav_links li a:hover{
    color: #C6426E;
}
/**NAVBAR ENDS**/


/** LOGIN PAGE STARTS **/
.loginImage{
    padding-top: 150px;
}
.loginForm{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    
}


/** REGISTER PAGE STARTS **/
/* .gradient-custom-3 {
background: #C6426E;

background: -webkit-linear-gradient(45deg, #C6426E, #642B73);

background: linear-gradient(45deg, #C6426E, #642B73)
}
.gradient-custom-4 {

background: #C6426E;

background: -webkit-linear-gradient(45deg, #C6426E, #642B73);

background: linear-gradient(45deg, #C6426E, #642B73)
} */

.registerButton2{
    padding: 9px 15px;
    font-size: 1em;
    font-weight: 900;
    background-color: #C6426E;
    color: #fefdfd;
    border: black;
    border-radius: 4px;
}
.registerForm{
    font-family: 'Playfair Display', serif ;
    font-weight: 900;
}
/* .registerForm input{
    font-weight: 900;
} */

/** PROFILE PAGE **/
.profileBack{
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #C6426E, #642B73);
}