<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Creation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/script.js'%}" defer></script>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" type="text/css">
    <style>
      ::placeholder {
        color: white;
        opacity: 1; /* Firefox */
      }
      
      /* input, select, textarea{
        color: white;
      }

      textarea:focus, input:focus {
        color: white;
      } */

      .accordion-button {
        background-color: rgba(220, 220, 220, 0.25) !important;
      }
      .accordion-button::before {
        content: "\A0\A0\A0\A0\A0\A0";
      }
      .accordion-button::after {
        position: absolute;
        left: 0.5rem;
      }
      :is(#assignments-accordion, #midterms-accordion, #final-exam-accordion)
        > .accordion-item
        > .accordion-body {
        padding: 0 1rem;
      }
      .align-right {
        margin-left: auto;
      }
      .accordion-button:not(.collapsed) {
        box-shadow: none;
      }
      #total-assignments,
      #total-midterms,
      #is-final-exam {
        font-weight: bolder;
      }
      [id*="-subtasks-collapse"],
      #assignments,
      #midterms,
      #final-exam-materials,
      [id*="-materials"] {
        counter-reset: counter;
      }
      .subtask,
      .assignment-name,
      .midterm,
      .material {
        counter-increment: counter;
      }
      .subtask label::before,
      .assignment-name::after,
      .midterm > .accordion-item h2 p::after,
      .material label::before {
        content: counter(counter);
      }
    </style>
  </head>
  <body class="body">
    {% include 'navbar.html' %}
    <div class="container pt-5 pb-5">
      {% if messages %}
        <div class="container mt-5">
          {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert {{ message.tags }} alert-danger alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% else %}
            <div class="alert {{ message.tags }} alert-success alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <h2 class="pb-2" style="color: white"><u>Create Course</u></h2>
      <form id="course-form" action="{% url 'createCourse' %}" method="POST" >
        {% csrf_token %}
        <div class="mb-3 row">
          <label for="course-name" class="col-sm-2 col-form-label"
            style="color: white;">Course Name:</label
          >
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control border rounded px-1 whiteText"
              id="course-name"
              placeholder="Course Name"
              required
              name="courseName"
              value="{{userData.courseName}}"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="course-code" class="col-sm-2 col-form-label"
          style="color: white;">Course Code:</label
          >
          <!--form-control-plaintext-->
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control border rounded px-1 whiteText"
              id="course-code"
              placeholder="Course Code"
              required
              name="courseCode"
              value="{{userData.courseCode}}"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="credits" class="col-sm-2 col-form-label" style="color: white;">Credits:</label>
          <div class="col-sm-6">
            <input
              type="number"
              class="form-control border rounded px-1 whiteText"
              id="credits"
              placeholder="Credits"
              required
              name="numOfCredits"
              value="{{userData.numOfCredits}}"
            />
          </div>
        </div>
        <div
          class="accordion accordion-flush border"
          id="assignments-accordion"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button
                class="accordion-button bg-transparent text-dark p-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#assignments"
                aria-expanded="true"
                aria-controls="assignments"
              >
                <p class="h4">
                  Total Assignments: <span id="total-assignments">0</span>
                </p>
                <div
                  class="btn btn-primary align-right"
                  onclick="showAccordion('#assignments'); addAssignment()"
                >
                  Add
                </div>
              </button>
            </h2>
            <div class="accordion-body">
              <div
                id="assignments"
                class="accordion-collapse collapse show"
                aria-labelledby="heading1"
                data-bs-parent="#assignments-accordion"
              >
                <!--loop-->
                {% for a in userData.assignment-counter %}
                  <div
                    class="accordion accordion-flush"
                    id="assignment{{a}}-accordion" data-id="{{a}}"
                  >
                    <div class="accordion-item">
                      <h3 class="accordion-header" id="assignment{{a}}">
                        <button
                          class="accordion-button bg-transparent text-dark p-2"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#assignment{{a}}-collapse"
                          aria-expanded="true"
                          aria-controls="assignment{{a}}-collapse"
                        >
                          <p class="h5 assignment-name">Assignment </p>
                          <div
                            class="btn btn-light align-right"
                            onclick="removeAssignment({{a}})"
                          >
                            ❌
                          </div>
                        </button>
                      </h3>
                      <div class="accordion-body">
                        <input hidden name="assignment-counter" value="{{a}}"/>
                        <div
                          class="accordion-collapse collapse show"
                          id="assignment{{a}}-collapse"
                          aria-labelledby="assignment{{a}}"
                          data-bs-parent="#assignment{{a}}-accordion"
                        >
                        
                          <div class="mb-3 row">
                            <label for="assignment{{a}}-due-grade" class="col-sm-2 col-form-label"
                              >Grade:</label
                            >
                            <div class="col-sm-5">
                              <input
                                type="number"
                                class="form-control-plaintext border rounded px-1"
                                id="assignment{{a}}-grade"
                                placeholder="Leave blank if incomplete"
                                min="0"
                                max="100"
                                name="assignment-{{a}}-grade"
                              />
                            </div>
                          </div>
                  
                  
                          <div class="mb-3 row">
                            <label for="assignment{{a}}-due-date" class="col-sm-2 col-form-label"
                              >Due Date:</label
                            >
                            <div class="col-sm-5">
                              <input
                                type="date"
                                class="form-control-plaintext border rounded px-1"
                                id="assignment{{a}}-due-date"
                                placeholder="Due Date"
                                required
                                name="assignment-{{a}}-date"
                              />
                            </div>
                          </div>
                          <div class="mb-3 row">
                            <label
                              for="assignment{{a}}-grade-weight"
                              class="col-sm-2 col-form-label"
                              >Grade Weight:</label
                            >
                            <div class="col-sm-5">
                              <input
                                type="number"
                                class="form-control-plaintext border rounded px-1"
                                id="assignment{{a}}-grade-weight"
                                placeholder="Grade Weight"
                                required
                                name="assignment-{{a}}-gradeWeight"
                              />
                            </div>
                          </div>
                          <div
                            class="accordion accordion-flush"
                            id="assignment{{a}}-subtasks-accordion"
                          >
                            <div class="accordion-item">
                              <h3
                                class="accordion-header"
                                id="assignment{{a}}-subtasks"
                              >
                                <button
                                  class="accordion-button bg-transparent text-dark p-2"
                                  type="button"
                                  data-bs-toggle="collapse"
                                  data-bs-target="#assignment{{a}}-subtasks-collapse"
                                  aria-expanded="true"
                                  aria-controls="assignment{{a}}-subtasks-collapse"
                                >
                                  <p class="h6">Subtasks</p>
                                  <div
                                    class="btn btn-primary align-right"
                                    onclick="showAccordion('#assignment{{a}}-subtasks-collapse');addSubtask({{a}})"
                                  >
                                    Add
                                  </div>
                                </button>
                              </h3>
                              <div class="accordion-body">
                                <div
                                  class="accordion-collapse collapse show"
                                  id="assignment{{a}}-subtasks-collapse"
                                  aria-labelledby="assignment{{a}}-subtasks"
                                  data-bs-parent="#assignment{{a}}-subtasks-accordion"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--loop ends-->
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush border" id="midterms-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <button
                class="accordion-button bg-transparent text-dark p-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#midterms"
                aria-expanded="true"
                aria-controls="midterms"
              >
                <p class="h4">
                  Total Midterms: <span id="total-midterms">0</span>
                </p>
                <div
                  class="btn btn-primary align-right"
                  onclick="showAccordion('#midterms');addMidterm()"
                >
                  Add
                </div>
              </button>
            </h2>
            <div class="accordion-body">
              <div
                id="midterms"
                class="accordion-collapse collapse show"
                aria-labelledby="heading2"
                data-bs-parent="#midterms-accordion"
              ></div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush border" id="final-exam-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <button
                class="accordion-button bg-transparent text-dark p-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#final-exam"
                aria-expanded="true"
                aria-controls="final-exam"
              >
                <p class="h4">Final Exam: <span id="is-final-exam">No</span></p>
                <div
                  class="btn btn-primary align-right"
                  id="final-exam-add-btn"
                  onclick="showAccordion('#final-exam'); addFinalExam()"
                >
                  Add
                </div>
              </button>
            </h2>
            <div class="accordion-body">
              <div
                id="final-exam"
                class="accordion-collapse collapse show"
                aria-labelledby="heading3"
                data-bs-parent="#final-exam-accordion"
              ></div>
            </div>
          </div>
        </div>
        <div class="mb-3 m-4 d-flex justify-content-around">
          <!--onclick="expand()"-->
          <input
            type="submit"
            class="col-md-2 m-2 btn btn-success"
            value="Add Course"  
          />
            
          
          <input
            type="reset"
            class="col-md-2 m-2 btn btn-danger"
            value="Cancel"
          />
        </div>
      </form>
    </div>
  </body>
</html>
