<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
    <head>
        <title>ScholarQuest</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
        <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body class="body">
        {% include 'navbar.html' %}
        <section class="vh-100 loginForm">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card justify-content-center align-items-center" style="border-radius: 1rem;">
                    <!-- <div class="row g-6"> -->
                      <!-- <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="{% static 'images/loginImage.png' %}"
                          alt="login form" class="img-fluid loginImage" style="border-radius: 1rem 0 0 1rem;" />
                      </div> -->
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <form action="{% url 'deleteCourse' course.id  %}" method="POST">
                            {% csrf_token%}
                            <div class="d-flex align-items-center mb-3 pb-1">
                              <span class="h1 fw-bold mb-0 mx-auto"><i class="fa-solid fa-eraser fa-2xl"></i></span>
                            </div>
          
                            <h4 class="fw-bold mb-3 pb-3 mx-auto" style="letter-spacing: 1px;">Are you sure you want to delete:</h4>
                            <h5 class="fw-bold mb-3 pb-3 mx-auto" style="letter-spacing: 1px;">{{course.courseCode}}: {{course.courseName}}?</h5>
                        
          
                            <div class="pt-4 mb-4 col-md-6 mx-auto">
                                <div></div>

                                <input name="confirmDeletion" type="submit" class="btn btn-dark btn-lg btn-block ms-3" value="Yes">
                                <input name="cancelDeletion" type="submit" class="btn btn-dark btn-lg btn-block ms-3" value="Cancel">
                                


            
                                <!--<input type="submit" value="Yes" class="btn btn-dark btn-lg btn-block ms-3">
                                <input type="submit" value="Cancel" class="btn btn-dark btn-lg btn-block ms-3"> -->
                            </div>
                            
          
                            <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                            <a href="#!" class="small text-muted">Privacy policy</a> -->
                          </form>
          
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
        </section>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>
{% endblock %}