<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>ScholarQuest</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <header class="navbar1">
        <img class="logo" src="{% static 'images/SQLogo5.png' %}">
        <!-- <h1>SQ</h1> -->
        <nav>
            <ul class="nav_links">
                {% if request.user.is_authenticated  %}
                <li><a href="#">Dashboard</a></li>
                <li><a href="{% url 'createCourse' %}">Create Course</a></li>
                <li><a href="#">Important Dates</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="{% url 'profile' request.user.id %}">Profile</a></li>
                {% else %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="{% url 'register' %}">Start Tracking</a></li>
                {% endif %} 
            </ul>
           
        </nav>
        {% if request.user.is_authenticated  %}
            <div class="login">
                <a href="{% url 'logout' %}"><button class="loginButton">Logout</button></a>
            </div>
        {% else %}
            <div class="login">
                <a href="{% url 'login' %}"><button class="loginButton">Login</button></a>
            </div>
        {% endif %} 
    </header>
    <section>
        
        <div class="content">
            <div>
                <div class="homeContent">
                    <!-- <img class="logo1" src="{% static 'images/SQLogo5.png' %}">  -->
                    <h1>ScholarQuest</h1>
                    <h3>Plan with success in mind</h3>
                    <div class="register">
                        <a href="{% url 'register' %}"><button class="registerButton">Register</button></a>
                    </div>
                </div>
                <div class="loader">Loading</div>
            </div>
        </div> 
        
    </section>
    
    
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>