{% load static %}

<header class="navbar">
    <img class="logo" src="{% static 'images/SQLogo5.png' %}">
    <nav>
        <ul class="nav_links">
            {% if request.user.is_authenticated  %}
            <li><a href="{% url 'userDash' %}">Dashboard</a></li>
            <li><a href="{% url 'createCourse' %}">Create Course</a></li>
            <li><a href="{% url 'importantDates' %}">Important Dates</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="{% url 'profile' request.user.id %}">Profile</a></li>
            {% else %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="{% url 'register' %}">Start Tracking</a></li>
            {% endif %} 
        </ul>
       
    </nav>
    {% if request.user.is_authenticated  %}
        <div class="login">
            <a href="{% url 'logout' %}"><button class="loginButton">Logout</button></a>
        </div>
    {% else %}
        <div class="login">
            <a href="{% url 'login' %}"><button class="loginButton">Login</button></a>
        </div>
    {% endif %} 
</header>